* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Abel", sans-serif;
  --grass-color: #80d67fda;
  --posion-color: #f170e7;
  --fire-color: #ed791a;
  --bug-color: #783207;
  --water-color: #a3d1ff;
  --fly-color: #e1e9f0;
  --electric-color: #f5c800;
  --normal-color: #f0ebeb;
  --ground-color: #d99750;
  --fairy-color: #f5b8ef;
  --fighting-color: #f53737;
  --psychic-color: #bc86dad8;
  --rock-color: #444144d8;
  --steel-color: #c0c0c0;
  --dark-color: #2c2b2b;
  --ghost-color: #7320c0;
  --dragon-color: linear-gradient(180deg, #78bed3 50%, #a04e5a 50%);
  --ice-color: #1d77cc;
}

header::after {
  content: "*";
  color: red;
}

/*
I hate this way to position svg but I couldn't figure out how to it other way
*/
.search-svg {
  position: relative;
  pointer-events: none;
  top: 3px;
  left: 2px;
}

::selection {
  background: #b8e2f3;
  color: rgb(44, 44, 44);
}
body {
  text-align: center;
}
#wrapper {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-self: center;
}
#input-wrapper {
  position: relative;
}

header {
  font-family: "Sarpanch", sans-serif;
  font-size: 3rem;
  text-align: center;
}

#input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #ece4e4;
  padding-right: 40px;
  color: rgb(70, 69, 69);
}

#input-search::placeholder {
  color: rgba(78, 78, 78, 0.616);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

#input-search[type="text"]::placeholder:after {
  content: "&*";
  color: rgba(192, 5, 5, 0.616);
}

#input-btn {
  border-style: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #302f2f;
  background-color: transparent;
  pointer-events: painted;
}

#input-btn:focus ~ #input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(37, 36, 36, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
#input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: white;
  color: rgb(44, 44, 44);
  border-bottom: 1px solid rgba(37, 36, 36, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.active {
  width: 300px;
  border-radius: 0px;
  background-color: white;
  color: black;
  border-bottom: 1px solid rgba(37, 36, 36, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.heart {
  margin: 0;
  padding: 0;
  border: none;
}

label {
  font-size: 1.7rem;
}

/* #pokedex {
  /* height: 100vh; */
/*} */

.circle-background {
  background: rgba(245, 222, 179, 0.555);
  border-radius: 50%;
  margin: 0;
}
h5 {
  font-size: 2rem;
  text-transform: capitalize;
}

span {
  padding: 0px 10px;
  margin: 1px;
  border: 1px dotted black;
  cursor: pointer;
}

#pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grass {
  background: var(--grass-color);
}

.poison {
  background: var(--posion-color);
}

.fire {
  background: var(--fire-color);
}
.bug {
  color: white;
  background: var(--bug-color);
}
.water {
  background: var(--water-color);
}
.flying {
  background: var(--fly-color);
}
.electric {
  background: var(--electric-color);
}
.normal {
  background: var(--normal-color);
}
.ground {
  background: var(--ground-color);
}
.fairy {
  color: white;
  background: var(--fairy-color);
}
.fighting {
  /* color: white; */
  background: var(--fighting-color);
}
.psychic {
  background: var(--psychic-color);
}
.rock {
  color: white;
  background: var(--rock-color);
}
.steel {
  color: white;
  background: var(--steel-color);
}
.dark {
  color: whitesmoke;
  background: var(--dark-color);
}
.ghost {
  color: whitesmoke;
  background: var(--ghost-color);
}
.dragon {
  background: var(--dragon-color);
}
.ice {
  color: whitesmoke;
  background: var(--ice-color);
}
